<!-- ottapp/templates/user/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }} - Login</title>
</head>
<body>
    <header>
        <div>
            <h1>{{ app_name }}</h1>
            <a href="{% url 'registration' %}"> Register</a>
        </div>
    </header>

    <div>
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit" >Login</button>
        </form>
    </div>
</body>
</html>
